[submodule "api/vonji-api"]
	path = api/vonji-api
	url = https://github.com/vonji/vonji-api
[submodule "client/vonji-client"]
	path = client/vonji-client
	url = https://github.com/vonji/vonji-client
[submodule "teaser/vonji-teaser"]
	path = teaser/vonji-teaser
	url = https://github.com/vonji/vonji-teaser
